/*
body {
    background: #8B4513;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: right;
    font-weight: lighter;
    margin-top: 5px;
}
*/

.body {
    display: block;
    margin-left: 100px;
}

#header {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 200px;
    color: #DC4D01;
}

.zen-img{
    width: 200px;
}

.text-big {
    font-size: 40px;
    font-weight: bold;
}

.text-med {
    font-size: 30px;
}

.text-sml {
    font-size: 20px;
}



.main {
    margin-top: 100px;
}

.logo-img {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.search-input {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

